.looding{
  text-align: center;
}

/* Register / Login page */
.register-main-div {
  margin-top: 23px;
}
.login-main-div {
  margin-top: 100px;
}
.register-div {
  /* width: 35%; */
  max-width: 450px;
  margin: auto;
  padding: 30px 30px 20px 30px;
}
.register-text {
  text-align: center;
  padding-bottom: 20px;
}
@media only screen and (max-width: 800px) {
  .register-div {
    max-width: 350px;
  }
}

/* UserTable CSS */
.table-div {
  width: 60%;
  padding-top: 30px;
  margin: auto;
}
@media only screen and (max-width: 955px) {
  .table-div {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 615px) {
  .table-div {
    width: 100%;
    margin: auto;
  }
}
/* Dashboard */
.dashboard-title {
  margin-top: 30px;
  text-align: center;
}
.user-name {
  text-align: center;
  color: gray;
}
.btns-div {
  width: 70%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-direction: row;
}
.no-user-text {
  color: red;
  text-align: center;
}
/* UserRegisterForm */
.cancel{
  margin-left: 20px;
}
.register-form-div {
  margin-top: 40px;
}
.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
}

.form-group input {
  width: calc(100% - 1em);
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
